<header class="mb-7">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>

        <!-- Notifications -->
        <div class="dropdown">
          <a
            data-mdb-dropdown-init
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger"
              >1</span
            >
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
        <!-- Avatar -->
        <div class="dropdown">
          <a
            data-mdb-dropdown-init
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <div
    class="bg-image vh-100"
    style="
      margin-top: -58.59px;
      background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/city/018.jpg');
    "
  >
    <!-- Mask -->

    <div
      class="container d-flex align-items-center justify-content-center h-100"
    >
      <!-- Call to action -->
      <div class="text-white text-center">
        <h1 class="mb-3">Whoah, what a view!</h1>
        <h5 class="mb-4">Learning web design is such an amazing thing</h5>
        <a class="btn btn-primary" href="#" role="button">Learn with me</a>
        <!-- <a
          class="btn btn-secondary btn-rounded btn-lg m-2"
          data-mdb-ripple-init
          data-ripple-color="primary"
          href="#"
          role="button"
          >Learn with me<i class="fas fa-graduation-cap ms-2"></i
        ></a> -->
        <!-- <a class="btn btn-outline-success btn-lg btn-sm" href="#" role="button"
          >Get started</a
        > -->
      </div>
    </div>
  </div>
  <div
    class="container-sm-12 d-flex justify-content-center align-items-center mt-5 border p-5"
  >
    <div class="card-sm-2 w-25 p-3 border" style="border-radius: 15px">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body-sm-2 mt-3">
        <h5 class="card-title">Moutains</h5>
        <p class="card-text-sm-4">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <button type="button" class="btn btn-primary align-items-center">
          Button
        </button>
      </div>
    </div>
    <div class="card-sm-2 w-25 p-3 ms-5 border" style="border-radius: 15px">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body-sm-2 mt-3">
        <h5 class="card-title">Moutains</h5>
        <p class="card-text-sm-4">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <button type="button" class="btn btn-primary align-items-center">
          Button
        </button>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <h1>h1.heading</h1>
    <h2>h2.heading</h2>
    <h3>h3.heading</h3>
    <h4>h4.heading</h4>
    <h5>h5.heading</h5>
    <h6>h6.heading</h6>
  </div>
  <p class="h3">hellooo</p>
  <p>hellooo</p>
</div>
<!--Forms-->
<h1>Forms</h1>
<div class="container p-5 border">
  <div class="row">
    <div class="form-group col">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" />
    </div>
    <div class="form-group col">
      <label for="pass">Password</label>
      <input type="password" class="form-control" id="pass" />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 mt-3">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" />
    </div>
  </div>

  <div class="row mt-2">
    <div class="form-group col">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" />
    </div>

    <div class="form-group col">
      <label class="mr-sm-2" for="inlineFormCustomSelect">State</label>
      <select class="form-control mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="hyderbad">Hyderbad</option>
        <option value="bengaluru">Bengaluru</option>
        <option value="chennai">Chennai</option>
      </select>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col d-flex justify-content-center align-items-center">
      <button class="btn btn-primary btn-sm rounded-2" style="width: 150px">
        Signup
      </button>
    </div>
  </div>
</div>

<!--Tables-->
<h1>Tables</h1>
<div class="table-responsive-sm">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pavan</td>
        <td>Kumar</td>
        <td>pavan&#64;gmail.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Pavan</td>
        <td>Kumar</td>
        <td>pavan&#64;gmail.com</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Pavan</td>
        <td>Kumar</td>
        <td>pavan&#64;gmail.com</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Pavan</td>
        <td>Kumar</td>
        <td>pavan&#64;gmail.com</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Pavan</td>
        <td>Kumar</td>
        <td>pavan&#64;gmail.com</td>
      </tr>
    </tbody>
  </table>
</div>

<!--Svg symbol with alert combination-->

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </symbol>
</svg>

<div
  class="alert-sm alert-danger m-2 d-flex align-items-center justify-content-center"
  role="alert"
  style="height: 40px"
>
  <svg
    class="bi flex-shrink-0 me-2"
    style="height: 20px; width: 20px"
    role="img"
    aria-label="Danger:"
  >
    <use xlink:href="#exclamation-triangle-fill" />
  </svg>
  <div>An example danger alert with an icon</div>
</div>

<!--Badge-->

<h6 style="text-align: center">
  Badge profile <span class="badge text-bg-secondary">New</span>
</h6>

<!--Button Group -->
<div class="btn-group">
  <button type="button" class="btn btn-primary">Action</button>
  <button
    type="button"
    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
    data-bs-toggle="dropdown"
  >
    choose..
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Option 1</a></li>
    <li><a class="dropdown-item" href="#">Option 2</a></li>
  </ul>
</div>
<div class="form-check form-switch m-5 border">
  <input
    class="form-check-input"
    type="checkbox"
    value=""
    id="checkNativeSwitch"
    switch
  />
  <label class="form-check-label" for="checkNativeSwitch">
    Native switch haptics
  </label>
</div>
